node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# solidity-framework
.idea
abi-exporter
cache_forge
lib

# Hardhat Ignition default folder for deployments against a local node
